@import "tailwindcss";

@theme {
  /* Colors */
  --color-navy-77: #0a4d8c;
  --color-cyan-77: #00aeef;
  --color-silver-77: #b2b2b2;
  --color-dark-77: #111111;

  /* Fonts */
  --font-syne: var(--font-syne);
  --font-mulish: var(--font-mulish);
}

/* HANYA aktif di device yang punya mouse (Desktop) */
@media (hover: hover) and (pointer: fine) {
  /* Target semua elemen interaktif secara spesifik */
  body,
  a,
  button,
  input,
  textarea,
  select,
  [role="button"],
  .cursor-pointer {
    cursor: none !important; /* Paksa hilang */
  }
}
