@import "tailwindcss";

@theme {
  /* Colors */
  --color-navy-77: #0a4d8c;
  --color-cyan-77: #00aeef;
  --color-silver-77: #b2b2b2;
  --color-dark-77: #111111;

  /* Fonts */
  --font-display: var(--font-syne);
  --font-body: var(--font-inter);
}

/* Base Style */
body {
  @apply bg-white text-dark-77 font-body antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  @apply font-display font-bold uppercase;
}

/* HANYA aktif di device yang punya mouse (Desktop) */
@media (hover: hover) and (pointer: fine) {
  /* Target semua elemen interaktif secara spesifik */
  body,
  a,
  button,
  input,
  textarea,
  select,
  [role="button"],
  .cursor-pointer {
    cursor: none !important; /* Paksa hilang */
  }
}
